/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}


.tweet-list
{
		height:500px;
		width:100%;
		/* background-color:#CCC; */		
        overflow-y:auto;
		float:left;
		position:relative;
		margin-left:-5px;
}
.tweet {
	width: 500px;
	
	padding-top: 30px;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 10px;
    
    outline-style: inset;
}

.tweet .content {
	display:block;
	font-size: 24px;
	padding-bottom: 5px;
	padding-left:30px;
}


.tweet .author {
	display: inline-block;
	padding-right: 20px;
	padding-left:40px;
}


.btn-bar {
	margin-top:10px;
    background-color: #333;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.btn-bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.btn-bar a:hover {
    background-color: #4CAF50;
    color: white;
}

#tweet-field {
	width: 350px;
}








